.km-drawer-button:before,
.km-drawer-button:after {
    content: "\e077";
}
.km-movies:before,
.km-movies:after {
    content: "\e09e";
}
.km-book:before,
.km-book:after {
    content: "\e086";
}
.km-lock:before,
.km-lock:after {
    content: "\e0ff";
}
.km-profile:before,
.km-profile:after {
    content: "\e319";
}

.applogo, .loginlogo {
    max-width: 100%;
    height: auto;
    text-align: center;
}
.loginlogo {
	width: 75%;
}
.promotion {
    width: 100%;
    height: auto;
}

.movie-title {
	font-weight: bold;
}
.movie-detail {
    font-size: smaller;
}
.movie-detail .movie-title {
    font-size: large;
}
.movie-poster {
    text-align: center;
}
.movie-poster IMG {
    width: 90%;
    height: auto;
}

.wide .km-button {
    display: block;
    text-align: center;
    margin: 0.4em auto 0.6em auto;
    width: 90%;
    font-size: 1em;
}
.km-flat .add-button {
    background: green;
    color: white;
}